beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
cryptography==3.3.2
dnspython==2.0.0
exrex==0.10.5
fire==0.3.1
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
httplib2==0.19.1
idna==2.10
loguru==0.5.3
MarkupSafe==2.0.1
mpmath==1.2.1
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
PySocks==1.7.1
requests==2.25.1
scapy==2.4.5
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.20
sympy==1.3
tenacity==6.2.0
termcolor==1.1.0
tqdm==4.51.0
treelib==1.6.1
urllib3==1.26.4
win32-setctime==1.0.3
workbook==1.1
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
zope.event==4.5.0
zope.interface==5.4.0
